$palatte1: #22223b;   
$palatte2: #4a4e69;   
$palatte3: #9a8c98;
$palatte4: #c9ada7;
$palatte5: #f2e9e4;

$colors: (
    "palatte1" : $palatte1,
    "palatte2" : $palatte2,
    "palatte3" : $palatte3,
    "palatte4" : $palatte4,
    "palatte5" : $palatte5,
    "mediumspringgreen": mediumspringgreen,
    "mediumturquoise": mediumturquoise,
    "mediumvioletred" : mediumvioletred,
    "navy": navy,
    "olive": olive,
    
)